log.txt
src/cpp/bin/*.exe
src/cpp/bin/*.ilk
src/cpp/*/ipch/
src/cpp/*/Debug/
src/cpp/*/LogFiles/
src/cpp/*/UpgradeLog.htm
src/cpp/*/UpgradeLog.XML
src/cpp/*/_UpgradeReport_Files
src/cpp/*/*.opensdf
src/cpp/*/*.sdf
src/cpp/*/*.v11.suo
